.mercury {
    background-color: red;
}

.venus {
    background-color: yellowgreen;
}

.earth {
    background-color: aqua;
}

.moon {
    background-color: whitesmoke;
}

.mars {
    background-color: orangered;
}

.uranus {
    background-color: #c2eaee;
}

.neptune {
    background-color: blue;
}

.pluto {
    background-color: grey;
}
