.nav {
  color: white;
  font-family: 'Raleway', sans-serif;
  position: fixed;
  right: 2vw;
  text-align: right;
  top: 2vh;
  z-index: 2;
}

.header {
  padding: 0 4px;
}

.headerButton {
  composes: button from './CommonStyles.module.scss';
  display: inline-block;
  font-size: 1.8em;
  padding: 2px 2px 0 2px;
}

.menu {
  position: relative;
  transition: transform 0.6s;
  padding: 4px;
}

.navButtons {
  padding: 4px 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
