.the-system-nav {
    animation: fadeIn 2s linear;
    color: white;
    font-family: "Raleway", sans-serif;
    position: fixed;
    right: 2vw;
    text-align: right;
    top: 2vh;
    z-index: 2;

    .the-system-nav-button {
        &:focus {
            outline: none;
        }

        &:hover {
            color: lightblue;
            cursor: pointer;
        }
    }

    .the-system-nav-header-button {
        font-size: 1.8em;
    }

    .the-system-nav-dropdown {
        left: 10vw;
        overflow-y: scroll;
        position: absolute;
        transition: transform 1s;

        .the-system-nav-dropdown-item-subheader {
            display: inline-block;
            font-size: 1.5em;
            font-weight: bolder;
        }

        .the-system-nav-dropdown-item-body {
            overflow-y: hidden;
            transition: max-height 1s linear;

            .the-system-nav-goto-item {
                display: inline-block;
                font-size: 1.2em;
                padding-left: 10px;

                &.the-system-nav-goto-item-followed {
                    color: skyblue;
                }
            }

            .the-system-nav-info-body-heading {
                font-weight: bold;
                white-space: nowrap;
            }

            .the-system-nav-info-body-stat {
                padding-bottom: 5px;
                white-space: nowrap;
            }

            .the-system-nav-info-button-wrapper {
                padding-bottom: 5px;

                .the-system-nav-info-button {
                    border: 1px solid white;
                    border-radius: 3px;
                    display: inline-block;
                    padding: 1px 3px;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        background-color: rgba(100, 100, 100, 0.3);
                        color: lightblue;
                        cursor: pointer;
                        border-color: lightblue;
                    }

                    &.the-system-nav-info-button-active {
                        color: skyblue;
                        background-color: rgba(100, 100, 100, 0.3);
                        border-color: skyblue;
                    }
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
