.the-system-nav {
    animation: fadeIn 2s linear;
    color: white;
    font-family: "Raleway", sans-serif;
    position: fixed;
    right: 2vw;
    text-align: right;
    top: 2vh;
    z-index: 2;

    .the-system-nav-button {
        &:focus {
            outline: none;
        }

        &:hover {
            color: lightblue;
            cursor: pointer;
        }
    }

    .the-system-nav-header-button {
        font-size: 1.8em;
    }

    .the-system-nav-dropdown {
        left: 10vw;
        overflow-y: scroll;
        position: absolute;
        transition: transform 1s;

        .the-system-nav-dropdown-subheader {
            font-size: 1.5em;
            font-weight: bolder;
        }

        .the-system-nav-goto-body {
            overflow-y: hidden;

            &.the-system-nav-goto-body-open {
                max-height: 400px;
                transition: max-height 1s linear;
            }

            &.the-system-nav-goto-body-closed {
                max-height: 0;
                transition: max-height 1s linear;
            }

            .the-system-nav-goto-item {
                font-size: 1.2em;
                padding-left: 10px;
            }
        }

        .the-system-nav-info-body {
            overflow-y: hidden;

            &.the-system-nav-info-body-open {
                max-height: 400px;
                transition: max-height 1s linear;
            }

            &.the-system-nav-info-body-closed {
                max-height: 0;
                transition: max-height 1s linear;
            }

            .the-system-nav-info-body-heading {
                font-weight: bold;
                white-space: nowrap;
            }

            .the-system-nav-info-body-stat {
                padding-bottom: 5px;
                white-space: nowrap;

                &:last-child {
                    padding-bottom: 10px;
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
