.the-system-nav {
    color: white;
    font-family: "Raleway", sans-serif;
    position: fixed;
    right: 2vw;
    top: 2vh;
    z-index: 2;

    .the-system-nav-header-button {
        font-size: 1.8em;

        &:focus {
            outline: none;
        }

        &:hover {
            color: lightblue;
            cursor: pointer;
        }
    }

    .the-system-nav-dropdown {
        left: 3vw;
        margin: 3px 6px;
        padding: 3px;
        position: absolute;
        transition: transform 1s;

        .the-system-nav-dropdown-goto-header {
            font-size: 1.5em;
        }

        .the-system-nav-dropdown-goto-item {
            font-size: 1.2em;
            padding-left: 10px;

            &:focus {
                outline: none;
            }

            &:hover {
                color: lightblue;
                cursor: pointer;
            }
        }
    }
}
