.saturn {
  background-image: url("./assets/Saturn.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(20deg);
}

.titan,
.rhea {
  background-color: whitesmoke;
}
