.the-system {
    background: url("./assets/stars-background.png") 50% repeat;
}

@-moz-keyframes orbit {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(-359deg);
    }
}
@-webkit-keyframes orbit {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-359deg);
    }
}
@keyframes orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}

@-moz-keyframes planet-rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes planet-rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@keyframes planet-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
