.the-system {
    background: url("./assets/stars-background.png") 50% repeat;
    position: relative;

    .the-system-suns-glow {
        background: radial-gradient(
            ellipse at center,
            rgba(255, 255, 255, 0.2) 0%,
            transparent 100%
        );
        position: absolute;
    }

    .sun {
        background: radial-gradient(
            ellipse at center,
            #ffd000 1%,
            #f9b700 39%,
            #f9b700 39%,
            #e06317 100%
        );
    }

    .mercury {
        background-color: #aba49a;
    }

    .venus {
        background-color: #c5aa75;
    }

    .earth {
        background-color: #4a83a0;
    }

    .moon {
        background-color: whitesmoke;
    }

    .mars {
        background-color: #ca5202;
    }

    .uranus {
        background-color: #c2eaee;
    }

    .pluto {
        background-color: grey;
    }
}

@-moz-keyframes orbit {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(-359deg);
    }
}
@-webkit-keyframes orbit {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-359deg);
    }
}
@keyframes orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}

@-moz-keyframes planet-rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes planet-rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@keyframes planet-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
