.notification {
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.info {
  background-color: rgb(115, 178, 199);
}

.success {
  background-color: rgb(133, 221, 133);
}

.warning {
  background-color: rgb(247, 168, 132);
}

.error {
  background-color: rgb(253, 127, 127);
}
