@import url("https://fonts.googleapis.com/css?family=Raleway");

.the-system-app-title {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 3ex;
    left: 2vw;
    position: fixed;
    top: 2vh;
    z-index: 2;
}
